<h1 id="tableLabel">Process Things...</h1>

<p>Enter the data and click process to process things.</p>

<p *ngIf="processing"><em>Loading...</em></p>

<form #processForm>
  <p>
    <label class="label" for="NumberOfBatches">Please enter the number of batches:</label>
    <input name="NumberOfBatches" type="number" [(ngModel)]="numberOfBatches" />
  </p>
  <p>
    <label class="label" for="NumberToProcess">Please enter how many numbers will be processed per batch:</label>
    <input name="NumberToProcess" type="number" [(ngModel)]="numberToProcess" />
  </p>
  <p>
    <button name="Process" class="button btn-primary" *ngIf="isValid()" [disabled]="processing"
      (click)="process()">Process</button>
  </p>
</form>

<app-batch-data-display [batches]="processes" [numberOfBatches]="numberOfBatches" [numberToProcess]="numberToProcess" ></app-batch-data-display>
