<h1>Hello Awesome user!</h1>
<p>Welcome to this awesome product built with:</p>
<ul>
    <li><a href='https://get.asp.net/'>ASP.NET Core</a> and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
    <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
    <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
<p>Take it for a spin!</p>
<ul>
  <li><strong>Process</strong>. This awesome product processes... numbers...</li>
  <li><strong>History</strong>. Check the results for the latest processing of numbers...</li>
</ul>
<p>For more information about the app refer to the <code>README.md</code> in the Angular app root directory</p>
