<table class="table">
  <thead>
    <tr>
      <th scope="col"># Batches</th>
      <th scope="col"># left to process</th>
      <th scope="col">Batch total sum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of batches; let i = index">
      <th scope="row">{{i}}</th>
      <td>{{item.leftToProcess}} / {{numberToProcess}}</td>
      <td>{{item.number}}</td>
    </tr>
  </tbody>
  <tfoot>
    <tr>
      <th>current totals</th>
      <td colspan="2">{{batchSumTotal()}}</td>
    </tr>
  </tfoot>
</table>
